@model ProjetoAgencia.Models.Cadastro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estadia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estadia.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passageiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passageiros.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transporte.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atracoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atracoes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeContato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
