@model IEnumerable<ProjetoAgencia.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a class="a" asp-action="Create">Criar Novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input class="btn btn-primary"type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino.NomeDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadia.NomeEstadia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino.NomeDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadia.NomeEstadia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <td>
                    <a class="a" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="a" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="a" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
