@model IEnumerable<ProjetoAgencia.Models.Atracoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Atrações</h1>

<p>
    <a class="a" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAtracoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAtracoes)
            </td>
            <td>
                    <a class="a" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="a" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="a" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
